[submodule "cmake/submodules/external/glfw"]
	path = cmake/submodules/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "qt_cli/external/qtbase"]
	path = qt_cli/external/qtbase
	url = https://github.com/qt/qtbase.git
	branch = 6.4.0
